body {
    background: #14131A;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 80px;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.logo-link {
    display: inline-block;
}

.nav-menu {
    margin: 0;
    list-style: none;
    display: flex;
    margin-left: 50px;
}

.nav-menu-item {
    margin-right: 30px;
}

.nav-menu-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.film-date {
    display: block;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 38px;
    color: rgba(255, 255, 255, 0.8);
}

.film-description {
    margin-top: 40px;
    max-width: 423px;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: rgba(255, 255, 255, 0.8);
}